//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "keys_nb.h"

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5
#define COMBO_TIMEOUT 50

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <0 1>;
            bindings = <&kp NB_AT>;
        };

        sqbrackets {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <4 3>;
            bindings = <&kp NB_LEFT_BRACKET>;
        };

        brackets {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_LEFT_PARENTHESIS>;
            key-positions = <13 14>;
        };

        sgbrackets {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_LEFT_BRACE>;
            key-positions = <24 25>;
        };

        sqbrackete {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_RIGHT_BRACKET>;
            key-positions = <5 6>;
            layers = <0>;
        };

        brackete {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_RIGHT_PARENTHESIS>;
            key-positions = <15 16>;
        };

        sgbrackete {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp LS(LA(NB_RIGHT_BRACE))>;
            key-positions = <26 27>;
        };

        menu {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp LG(SPACE)>;
            key-positions = <34 35>;
        };

        semi {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_SEMICOLON>;
            key-positions = <27 28>;
        };

        colon {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_COLON>;
            key-positions = <28 29>;
        };

        underline {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_UNDERSCORE>;
            key-positions = <29 30>;
        };

        nb_aa {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp NB_A_RING>;
            key-positions = <19 31>;
        };

        mac_bracket {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp LS(LA(N8))>;
            key-positions = <24 25>;
            layers = <4>;
        };

        mac_bracket_left {
            timeout-ms = <COMBO_TIMEOUT>;
            bindings = <&kp LS(LA(N9))>;
            key-positions = <26 27>;
            layers = <4>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
            &kp Q       &kp W       &kp E             &kp R               &kp T        &kp Y          &kp U               &kp I             &kp O           &kp P
            &mt LGUI A  &mt LALT S  &mt LEFT_SHIFT D  &mt LEFT_CONTROL F  &kp G        &kp H          &mt LEFT_CONTROL J  &mt LEFT_SHIFT K  &mt LEFT_ALT L  &mt LEFT_GUI NB_O_SLASH
&caps_word  &kp Z       &kp X       &kp C             &kp V               &kp B        &kp N          &kp M               &kp NB_COMMA      &kp NB_DOT      &kp FSLH                 &kp NB_AE
                                    &mt LGUI ESC      &lt 1 TAB           &kp SPACE    &kp BACKSPACE  &lt 2 ENTER         &kp LEFT_SHIFT
            >;
        };

        nav_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "NAVI";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &trans  &kp N7                 &kp N8                   &kp N9        &kp MINUS    &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp P
        &trans  &mt LEFT_ALT NUMBER_4  &mt LEFT_SHIFT NUMBER_5  &mt LCTRL N6  &kp PLUS     &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LCTRL
&trans  &trans  &kp N1                 &kp N2                   &kp N3        &kp N0       &trans     &trans    &trans    &trans     &trans     &trans
                                       &trans                   &trans        &trans       &trans     &mo 3     &trans
            >;
        };

        sym_layer {
            bindings = <
        &trans  &trans        &trans         &trans       &trans    &kp LS(NUMBER_2)     &kp NB_LESS_THAN    &kp NB_EQUAL              &kp NB_GREATER_THAN  &kp NB_ASTERISK
        &trans  &kp BSPC      &kp NB_DOLLAR  &kp NB_HASH  &trans    &kp NB_SINGLE_QUOTE  &kp NB_EXCLAMATION  &kp NB_QUESTION           &kp NB_AMPERSAND     &trans
&trans  &trans  &kp NB_TILDE  &kp NB_PIPE    &trans       &trans    &kp NB_SLASH         &kp NB_SLASH        &kp LS(LA(NB_BACKSLASH))  &kp NB_PERCENT       &trans           &kp NB_AT
                              &trans         &mo 3        &trans    &trans               &trans              &trans
            >;
        };

        mouse_layer {
            bindings = <
        &sys_reset    &bt BT_CLR  &trans     &trans    &trans       &msc SCRL_UP    &trans          &mmv MOVE_UP       &to 0            &to 4
        &bootloader   &bt BT_NXT  &mkp LCLK  &mkp MB2  &mkp MCLK    &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN     &mmv MOVE_RIGHT  &trans
&trans  &out OUT_TOG  &bt BT_PRV  &trans     &trans    &trans       &kp C_PREV      &kp C_NEXT      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_PLAY_PAUSE  &kp K_MUTE
                                  &trans     &trans    &trans       &trans          &trans          &trans
            >;
        };

        mac_base {
            label = "MAC_BASE";
            bindings = <
            &kp Q               &kp W       &kp E                     &kp R           &kp T        &kp Y          &kp U           &kp I             &kp O           &kp P
            &mt LEFT_CONTROL A  &mt LALT S  &mt LEFT_SHIFT D          &mt LEFT_GUI F  &kp G        &kp H          &mt LEFT_GUI J  &mt LEFT_SHIFT K  &mt LEFT_ALT L  &mt LEFT_CONTROL NB_O_SLASH
&caps_word  &kp Z               &kp X       &kp C                     &kp V           &kp B        &kp N          &kp M           &kp NB_COMMA      &kp NB_DOT      &kp FSLH                     &kp NB_AE
                                            &mt LS(LA(LC(LGUI))) ESC  &lt 5 TAB       &kp SPACE    &kp BACKSPACE  &lt 6 ENTER     &kp LEFT_SHIFT
            >;
        };

        mac_nav {
            label = "mac_nav";
            bindings = <
        &trans  &kp N7                 &kp N8                   &kp N9        &kp MINUS    &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp P
        &trans  &mt LEFT_ALT NUMBER_4  &mt LEFT_SHIFT NUMBER_5  &mt LCTRL N6  &kp PLUS     &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LCTRL
&trans  &trans  &kp N1                 &kp N2                   &kp N3        &kp N0       &trans     &trans    &trans    &trans     &trans     &trans
                                       &trans                   &trans        &trans       &trans     &mo 3     &trans
            >;
        };

        Mac_Symbols {
            bindings = <
        &trans  &kp Y         &kp ESC           &kp RET           &trans    &kp LS(NUMBER_2)     &kp NON_US_BACKSLASH  &kp LS(N0)      &kp LS(NUBS)    &kp LS(NON_US_HASH)
        &trans  &kp BSPC      &kp LS(NUMBER_4)  &kp LS(NUMBER_3)  &trans    &kp NB_SINGLE_QUOTE  &kp NB_EXCLAMATION    &kp LS(MINUS)   &kp LS(N6)      &trans
&trans  &trans  &kp NB_TILDE  &kp LA(N7)        &trans            &trans    &kp NB_SLASH         &kp NB_SLASH          &kp LS(LA(N7))  &kp NB_PERCENT  &trans               &kp NON_US_HASH
                              &trans            &mo 3             &trans    &trans               &trans                &trans
            >;
        };
    };
};
